In [2]:
import numpy as np
import pandas as pd
from AKData import AKData
akdata = AKData(database_type="csv")

In [2]:
# 主连代码查询
akdata.futures_display_main_sina().head()

load data from futures_display_main_sina.csv

  symbol exchange   name
0     V0      dce  PVC连续
1     P0      dce  棕榈油连续
2     B0      dce   豆二连续
3     M0      dce   豆粕连续
4     I0      dce  铁矿石连续

In [3]:
# 查询单只主连合约
df = akdata.futures_main_sina(
    symbol="P0",
    start_date=np.datetime64("2021-05-01"),
    end_date=np.datetime64("2024-09-24"),
)
df.head()

load data from futures_main_sina.csv

        date  open  high   low  close  volume     持仓量  动态结算价 symbol
0 2021-05-06  7620  7934  7620   7890  517961  391326   7820     P0
1 2021-05-07  7890  8080  7834   8026  655909  404267   7980     P0
2 2021-05-10  8102  8120  7900   7954  853357  396794   8012     P0
3 2021-05-11  7966  8054  7836   7998  685019  402032   7966     P0
4 2021-05-12  8022  8344  7956   8338  812215  413415   8172     P0

In [11]:
# 指数实时行情
akdata.stock_individual_spot_xq(symbol="SH000001")

        item                  value
0         代码               SH000001
1      52周最高                3174.27
2         均价                2957.18
3         涨幅                    2.1
4        流通股          4451970546116
5         振幅                    2.5
6         现价                2957.18
7         最高              2961.4205
8     今年以来涨幅                   -0.6
9        流通值  25239885076364.878906
10      发行日期           661536000000
11        最低              2889.0143
12  资产净值/总市值   46018634337915.15625
13        货币                    CNY
14    最小交易单位                    100
15       成交额         343913325097.0
16        涨跌                  60.87
17        昨收              2896.3057
18       成交量            39566203200
19       周转率                   0.89
20     52周最低              2635.0897
21        名称                   上证指数
22       交易所                     SH
23        时间    2024-09-26 13:45:11
24  基金份额/总股本            15561661562
25        今开              2893.7451

In [4]:
# 国证指数查询
df = akdata.index_hist_cni(
    symbol="399303",
    start_date=np.datetime64("2015-01-01"),
    end_date=np.datetime64("2024-09-24"),
    rewrite=False,
)
df.head()

load data from index_hist_cni.csv

,date,open,high,low,close,涨跌幅,volume,amount,symbol
0,2015-01-05,5470.54,5502.20,5414.89,5501.43,0.0060,10993.01,1073.61,399303
1,2015-01-06,5479.37,5588.73,5446.35,5588.47,0.0158,10969.32,1135.61,399303
2,2015-01-07,5577.64,5588.78,5544.05,5587.70,-0.0001,9268.54,969.23,399303
3,2015-01-08,5582.12,5611.13,5544.64,5576.30,-0.0020,9301.60,981.49,399303
4,2015-01-09,5562.44,5612.30,5540.17,5540.17,-0.0065,8569.63,939.72,399303

In [5]:
# 中证指数查询
df = akdata.stock_zh_index_hist_csindex(
    symbol="000852",
    start_date=np.datetime64("2015-01-01"),
    end_date=np.datetime64("2024-09-24"),
    rewrite=False,
)
df.head()

load data from stock_zh_index_hist_csindex.csv
rewrite stock_zh_index_hist_csindex data

,date,指数代码,指数中文全称,指数中文简称,指数英文全称,指数英文简称,open,high,low,close,涨跌,涨跌幅,volume,成交金额,样本数量,滚动市盈率,symbol
0,2015-01-01,000852,中证1000指数,中证1000,CSI 1000 Index,CSI 1000,6025.75,6052.44,5948.27,6049.79,22.27,0.37,9480.52,1012.88,1000.0,46.34,000852
1,2015-01-05,000852,中证1000指数,中证1000,CSI 1000 Index,CSI 1000,6025.75,6052.44,5948.27,6049.79,22.27,0.37,9480.52,1012.88,1000.0,46.34,000852
2,2015-01-06,000852,中证1000指数,中证1000,CSI 1000 Index,CSI 1000,6021.45,6172.64,5986.40,6172.39,122.61,2.03,9399.20,1100.59,1000.0,47.39,000852
3,2015-01-07,000852,中证1000指数,中证1000,CSI 1000 Index,CSI 1000,6161.48,6171.15,6118.14,6166.77,-5.62,-0.09,8062.01,932.45,1000.0,47.31,000852
4,2015-01-08,000852,中证1000指数,中证1000,CSI 1000 Index,CSI 1000,6161.55,6211.46,6126.97,6164.11,-2.66,-0.04,8131.56,958.07,1000.0,47.33,000852

In [3]:
# 指数列表查询
df = akdata.index_stock_info()
df.head()

load data from index_stock_info.csv

   symbol display_name publish_date
0  000001         上证指数   1991-07-15
1  000002         A股指数   1992-02-21
2  000003         B股指数   1992-02-21
3  000004         工业指数   1993-05-03
4  000005         商业指数   1993-05-03

In [4]:
# 指数成分股查询
## 国证2000
df = akdata.index_stock_cons(symbol="399303")
df.head()

load data from index_stock_cons.csv

  cons_symbol  品种名称        纳入日期  symbol
0      688551   科威尔  2024-09-18  399303
1      605188  国光连锁  2024-08-28  399303
2      002392  北京利尔  2024-08-19  399303
3      688155  先惠技术  2024-08-12  399303
4      002996  顺博合金  2024-06-17  399303

In [6]:
# 指数成分股查询
## 中证2000
df = akdata.index_stock_cons_csindex(symbol="932000")
df.head()

load data from index_stock_cons_csindex.csv

,date,symbol,指数名称,指数英文名称,cons_symbol,成分券名称,成分券英文名称,交易所,交易所英文名称
0,2024-09-25,932000,中证2000,CSI 2000,000010,美丽生态,"SHENZHEN ECOBEAUTY CO., LTD.",深圳证券交易所,Shenzhen Stock Exchange
1,2024-09-25,932000,中证2000,CSI 2000,000011,深物业A,Shenzhen Properties & Resources Development (G...,深圳证券交易所,Shenzhen Stock Exchange
2,2024-09-25,932000,中证2000,CSI 2000,000014,沙河股份,Shahe Industrial Co Ltd,深圳证券交易所,Shenzhen Stock Exchange
3,2024-09-25,932000,中证2000,CSI 2000,000026,飞亚达,"FIYTA Precision Technology Co., Ltd.",深圳证券交易所,Shenzhen Stock Exchange
4,2024-09-25,932000,中证2000,CSI 2000,000036,华联控股,China Union Holdings Co Ltd,深圳证券交易所,Shenzhen Stock Exchange